.JoinPage{
	background-color: rgb(23, 49, 29);
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.JoinContainer{
	/*border: 2px solid white;
	height: 50%;*/
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.JoinContainer > img {
	height: 10vmax;
}

.JoinContainer > h1 {
	color: white;
	font-size: 2.5vmax;
	font-family: "Roboto";
	width: 25vmax;
	border-bottom: 0.2vmax solid white;
	text-align: center;
	padding: 1vmax;
	box-sizing: border-box;
}

#joinInput{
	width: 25vmax;
	padding: 1.5vmax;
	border: none;
	outline: none;
	font-size: 1.2vmax;
	margin: 2vmax;
	box-sizing: border-box;
}

.JoinBtn{
	color: white;
	font-family: "Roboto";
	width: 25vmax;
	padding: 1.5vmax;
	border: none;
	outline: none;
	font-size: 1.2vmax;
	margin: 2vmax;
	background-color: greenyellow;
	box-sizing: border-box;
	transition: all 0.3s;
}

.JoinBtn:hover{
	background-color: rgb(127, 27, 58);
	cursor: pointer;
}